manifest {
    mainScript = 'main.nf'
}

profiles {
        planet {
        executor = 'sge'
        docker.enabled = false

        process {
            $trimming_pe {
                clusterOptions = '-S /bin/bash -l h_vmem=3G'
                time = '24h'
                penv = 'smp'
                cpus = params.cpus
                module = 'atropos'
            }
            $fastqc {
            clusterOptions = '-S /bin/bash -l h_vmem=3G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'fastqc'
            }
            $multiqc {
            clusterOptions = '-S /bin/bash -l h_vmem=3G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'multiqc'
            }
            $megahit {
            clusterOptions = '-S /bin/bash -l h_vmem=3G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'megahit'
            }
            $metaspades {
            clusterOptions = '-S /bin/bash -l h_vmem=3G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'spades'
            }
            $metabat {
            clusterOptions = '-S /bin/bash -l h_vmem=3G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'metabat:bowtie:samtools'
            }
            $checkm {
            clusterOptions = '-S /bin/bash -l h_vmem=3G'
            time = '24h'
            penv = 'smp'
            cpus = params.cpus
            module = 'checkm'
            }
        }
    }
}
